# Mission 1

Create a tuple of your choice containing 10 elements in this order:
- 3 integers
- 3 strings
- 2 lists containing 3 items each
- 2 dictionaries containing 3 items (3 key/value pairs) each

In [1]:
premier_tuple = (2, 4, 6, "I", "love", "candy", [4, 5, 6], ["cueillir", "des", "cerises"], {"Ronaldo": 80, "Messi": 90, "Mbappé": 50}, {"Roger": 21, "Rafa": 22, "Novak": 25})
print(type(premier_tuple))

<class 'tuple'>

Now, access the second-to-last item in the second list.

In [2]:
liste = premier_tuple[7]
print(liste[1])

des

# Mission 2

In the same tuple, access the last 4 elements using slicing.

In [3]:
print(premier_tuple[-4:])

([4, 5, 6], ['cueillir', 'des', 'cerises'], {'Ronaldo': 80, 'Messi': 90, 'Mbappé': 50}, {'Roger': 21, 'Rafa': 22, 'Novak': 25})

# Mission 3

Change the value of the 4th element (the first string) of your tuple (since tuples are immutable, this means recreating a tuple where this element is changed).

In [4]:
temp = list(premier_tuple)
temp[3] = "You"
premier_tuple = tuple(temp)
print(premier_tuple)

(2, 4, 6, 'You', 'love', 'candy', [4, 5, 6], ['cueillir', 'des', 'cerises'], {'Ronaldo': 80, 'Messi': 90, 'Mbappé': 50}, {'Roger': 21, 'Rafa': 22, 'Novak': 25})

# Mission 4

Create 2 tuples of the same length that contain only integers.

Then create a script that compares the sum of their elements and displays the tuple that has the highet total.

In [5]:
tuple_1 = (1, 2, 3, 4)
tuple_2 = (5, 6, 7, 8)

total_tuple_1 = sum(tuple_1)
total_tuple_2 = sum(tuple_2)

if total_tuple_1 > total_tuple_2:
  print(f"Le tuple avec le plus haut total est le tuple_1 : {tuple_1} qui vaut {total_tuple_1} vs {total_tuple_2}")
else:
  print(f"Le tuple avec le plus haut total est le tuple_2 : {tuple_2} qui vaut {total_tuple_2} vs {total_tuple_1}")

Le tuple avec le plus haut total est le tuple_2 : (5, 6, 7, 8) qui vaut 26 vs 10

# Mission 5

Here's a tuple:

`my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")`

Ask the user for a string, then for an integer position. Create an altered copy of `my_tuple` where the element at the given position is now the given string.

In [6]:
my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")

user = input()
pos = int(input())

temp = list(my_tuple)
temp[pos] = user

copy = tuple(temp)
print(copy)

herborsit
2
('data analyst', 'data scientist', 'herborsit', 'data architect')